<div class="authentication">
  <h2> Log In </h2>

  <p class="error" *ngIf="loginError"> {{ loginError }}  </p>

  <form (ngSubmit)="loginSubmit()">
    <label for="log-username-input"> Username </label>
    <input class="form-control" id="log-username-input" type="text" placeholder="Milan"
    name="username" [(ngModel)]="loginUser.loginUsername">
    <br>

    <label for="log-password-input"> Password </label>
    <input class="form-control" id="log-password-input" type="password" placeholder="*********"
    name="userPassword" [(ngModel)]="loginUser.loginPassword">
    <br>
    <button> Log In </button>
  </form>

</div>
