<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid" id="myNavbar">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Agendum</a>
      </div>
      <div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="#login">Log In </a></li>
            <li><a href="#signup">Sign Up</a></li>
            <li><a href="#about">About</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>



    <div class="background">

   <br>
   <br>


     <div class="signLog">




     </div>

   </div>
  <div id="login" class="container-fluid">
    <!-- <a class="btn btn-default btn-lg" routerLink="/login"> Log In </a> -->


  </div>

  <div id="signup" class="container-fluid">
    <h1>Sign Up</h1>

    <!-- <a class="btn btn-default btn-lg"  routerLink="/signup"> Sign Up </a> -->
    <app-signup></app-signup>
   <app-login></app-login>

  </div>


  <div id="about" class="container-fluid">
    <h1>About</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
      et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
      aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
      dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
      deserunt mollit anim id est laborum.
    </p>
  </div>
