
h1 {
  font-family: 'Petit Formal Script', cursive;
  margin: 0;
  font-size: 50px;
  padding: 3%;
}

.homeLinks {
  text-align: center;
}
a {
  background-color: transparent;
  border: none;
}
a:hover {
  background-color: white;
  border-radius: 10px;
  height: 50px;
}

.background {
  background-image: url(../../photos/planning.jpg);
  background-repeat: no-repeat;
  background-size: 100% 159%;
  width: 100%;
  height: 100%;
}

.signLog {
  margin: 6% 10%;
}
