<div class="background backgroundFront">

<div *ngIf="userInfo" >

  <a class="calendarLink" routerLink="/calendar"> Calendar </a>

<div class="userInfo" >

  <h1> Hello, {{ userInfo.fullName }}! </h1>

  <div class="todoInput">

    <form (ngSubmit)="saveNewTodo()">
      <label for="todo-input" class="plan"> What is your plan today ? </label>
      <br><br>
      <input class="input"  id="todo-input" type="text"  name="todoName"
      [(ngModel)]="newTodo.todo"  />

      <button class="glyphicon glyphicon-plus add" > </button>
    </form>

  </div>

</div>



<div class="todo-list" >


  <ul class="check-list" >
    <p class="fullDate"> {{ today | date: 'fullDate' }} </p>

    <li class = "{{oneTodo._id}}" *ngFor="let oneTodo of todos; let i = index" [ngClass]="{ done: oneTodo.isChecked }">
      <h3> <button class="glyphicon glyphicon-time time" (click)="timing(i)"></button>
        <input type="checkbox"  (click)="checkboxChange(oneTodo)" />
         {{ oneTodo.todo }}
         <button class="glyphicon glyphicon-trash delete"(click)="deleteClick(oneTodo)">
         </button>
         <button class="glyphicon glyphicon-play delete"></button>
      </h3>

      <div *ngIf="show[i]">

        <form (ngSubmit)="saveTimerTodo()">
          <input  type="text"  name="todoTimer" [(ngModel)]="input[i]" />
        </form>

      </div>


    </li>
    <div>
      <button (click)="subscribeTimer0()" class="glyphicon glyphicon-pause pause"></button>
      {{counter0}}

    </div>
  </ul>

</div>

<div class="today">

  <p> {{ today | date: 'h:mma' }} </p>

</div>




</div>
</div>
