.background {
  background-image: url(../../photos/puertorico.jpg);
  height: 150%;
}

.userInfo {
display: inline-block;
margin: 14% 30%;
}



h1 {
  width: 150%;
  font-size: 85px;
}

h3 {
  margin-top: 8%;
}


.done {
  text-decoration: line-through;
}

li {
  list-style: none;
}

.check-list {
  padding: 5px;
}

.todo-list {
  float: left;
  color: white;
  width: 40%;
  margin: 3% 8%;
  border-radius: 15px;
  padding: 10px;
  background-color: rgba(35, 151, 242, 0.8);
}


.today {
  float: left;
  margin-top: 5%;
  font-size: 110px;
  font-weight: bold;
  color: rgb(232, 216, 193);
}


#todo-input {
  border: none;
  border-bottom: 2px solid black;
  width: 120%;
  background-color: transparent;
}

.name-label {
  margin-left: 10%;
}

.add {
  border-radius: 80px;
  background-color: transparent;
  border-color: black;
  top: -21px;
  left: 134%;
}

.time {
  border: none;
  background-color: transparent;
}

.delete {
  font-size: 15px;
  background-color: transparent;
  border: none;
  border-radius: 50px;
}

.pause {
margin-left: 20%;
}
